<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Movie
        <button type="button" class="btn btn-success btn-circle" routerLink="/movie/new">
          <i class="fa fa-plus"></i>
        </button>
      </h2>
      <app-spinner [visible]="moviesLoading"></app-spinner>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default" *ngIf="movies">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Movie Name</th>
                <th>Director</th>
                <th>Media</th>
                <th>IMDB Id</th>
                <th>IMDB Rating</th>                
                <th width="15%">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7"><input class="form-control" [(ngModel)]="userFilter.movieName" type="text" placeholder="Search for movie name"></td>
                </tr>
              <tr *ngFor="let movie of movies | filterBy: userFilter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                <td>{{i+1}}</td>
                <td>{{movie.movieName}}</td>
                <td>{{movie.directorName}}</td>
                <td>{{movie.movieTypeName}}</td>
                <td><a href="https://www.imdb.com/title/{{movie.imdbId}}" target="_blank">{{movie.imdbId}}</a></td>
                <td>{{movie.imdbRating}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#myModal" (click)="select(movie)">
                    <i class="fa fa-search"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-circle" [routerLink]="['/movie', movie.movieId]">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-circle">
                    <i (click)="deleteMovie(movie)" class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td *ngIf="movies?.length === 0">No Data!</td>
              </tr>
            </tbody>
          </table>
          <div class="has-text-centered">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="movie">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{movie.movieName}}</h4>
        </div>
        <div class="modal-body">
          <img style="display: block; margin-left: auto; margin-right: auto; width: 150px;" src="{{movie.moviePosterPath}}">
          <hr/>
          <p>
            <b>Director: </b> {{movie.directorName}}</p>
          <p>
            <b>Media Type: </b> {{movie.movieTypeName}}</p>
          <p>
            <b>Release Date: </b> {{movie.movieReleaseDate | date}}</p>
          <p>
              <b>IMDB Id: </b><a href="https://www.imdb.com/title/{{movie.imdbId}}" target="_blank">{{movie.imdbId}}</a>
            </p>
            <p>
              <b>IMDB Rating: </b> {{movie.imdbRating}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>