<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Contact</h2>
      <app-spinner [visible]="contactsLoading"></app-spinner>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default" *ngIf="contacts">
      <div class="panel-body">
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Search">
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Message</th>
                <th>Replied</th>
                <th width="15%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                      <td colspan="3"><input [(ngModel)]="searchText" placeholder="search text goes here"></td>
                  </tr> -->
              <tr *ngFor="let contact of contacts | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                <td>{{i+1}}</td>
                <td>{{contact.senderFullName}}</td>
                <td>{{contact.contactBody}}</td>
                <td>{{contact.isReplied ? "Yes" : "No"}} </td>
                <td>
                  <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#myModal" (click)="select(contact)">
                    <i class="fa fa-search"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-circle" [routerLink]="['/contact', contact.contactId]">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-circle">
                    <i (click)="deleteContact(contact)" class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td *ngIf="contacts?.length === 0">No Data!</td>
              </tr>
            </tbody>
          </table>
          <div class="has-text-centered">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="contact">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{contact.senderFullName}}</h4>
        </div>
        <div class="modal-body">
          <p>
            <b>Replied: </b>{{ contact.isReplied ? "Yes" : "No" }} /
            <b>Date: </b> {{contact.creDate | date}}</p>
          <hr/>
          <p>
            <b>Mail Address:</b> {{contact.senderMailAddress}}</p>
          <p>{{contact.contactBody}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>