<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Project
        <button type="button" class="btn btn-success btn-circle" routerLink="/project/new">
          <i class="fa fa-plus"></i>
        </button>
      </h2>
      <app-spinner [visible]="projectsLoading"></app-spinner>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default" *ngIf="projects">
      <div class="panel-body">
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Search">
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Project Name</th>
                <th>Project Type</th>
                <th>Active</th>
                <th width="15%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                      <td colspan="3"><input [(ngModel)]="searchText" placeholder="search text goes here"></td>
                  </tr> -->
              <tr *ngFor="let project of projects | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                <td>{{i+1}}</td>
                <td>{{project.projectName}}</td>
                <td>{{project.projectTypeName}}</td>
                <td>{{project.isDeleted ? "No" : "Yes"}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#myModal" (click)="select(project)">
                    <i class="fa fa-search"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-circle" [routerLink]="['/project', project.projectId]">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-circle">
                    <i (click)="deleteProject(project)" class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td *ngIf="projects?.length === 0">No Data!</td>
              </tr>
            </tbody>
          </table>
          <div class="has-text-centered">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{project.projectName}}</h4>
        </div>
        <div class="modal-body">
          <p>
            <b>Start Date: </b>{{ project.startDate | date }} /
            <b>End Date: </b> {{project.endDate | date}}</p>
          <hr/>
          <img style="display: block; margin-left: auto; margin-right: auto; width: 150px;" src="https://uur-api-dev.azurewebsites.net/{{project.projectImagePath}}">
          <div [innerHTML]="project.projectDescription"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>