<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">{{title}}</h2>
    </div>
  </div>
</div>
<div class="col-lg-12" style="padding-top: 10px">
  <div class="panel panel-default">
    <div class="panel-body">
      <form #resumeForm="ngForm" (ngSubmit)="save();">
        <input type="hidden" name="resumeId" #resumeId="ngModel" [(ngModel)]="resume.resumeId">
        <div class="form-group col-lg-6">
          <label>Company</label>
          <input type="text" class="form-control" #company="ngModel" [(ngModel)]="resume.company" name="company">
        </div>
        <div class="form-group col-lg-6">
          <label>Title</label>
          <input type="text" class="form-control" #title="ngModel" [(ngModel)]="resume.title" name="title">
        </div>
        <div class="form-group col-lg-6">
          <label>Start Date</label>
          <input type="date" class="form-control" #startDate="ngModel" [(ngModel)]="resume.startDate" name="startDate">
        </div>
        <div class="form-group col-lg-6">
          <label>End Date</label>
          <input type="date" class="form-control" #endDate="ngModel" [(ngModel)]="resume.endDate" name="endDate">
        </div>
        <div class="form-group col-lg-12">
          <label>Description</label>
          <textarea class="form-control" rows="5" #description="ngModel" [(ngModel)]="resume.resumeDescription" name="description"></textarea>
        </div>
        <div class="form-group col-lg-12">
          <button type="button" class="btn btn-outline btn-danger pull-right" (click)="cancel()">Cancel</button>
          <button type="submit" class="btn btn-outline btn-success pull-right" style="margin-right: 5px">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>