<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">uurde</a>
</div>
<ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i>
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <i class="fa fa-user fa-fw"></i> User Profile</a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active">
          <i class="fa fa-sign-out fa-fw"></i> Logout</a>
      </li>
    </ul>
  </li>
</ul>
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-home fa-fw"></i> Home
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a routerLink="/device" routerLinkActive="active">Devices</a>
          </li>
          <li>
            <a routerLink="/device-message" routerLinkActive="active">Device Messages</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-globe fa-fw"></i> Web Site
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a routerLink="/project" routerLinkActive="active">Projects</a>
          </li>
          <li>
            <a routerLink="/resume" routerLinkActive="active">Resume</a>
          </li>
          <li>
            <a routerLink="/skill" routerLinkActive="active">Skills</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-list fa-fw"></i> List
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a routerLink="/book" routerLinkActive="active">Book</a>
          </li>
          <li>
            <a routerLink="/movie" routerLinkActive="active">Movie</a>
          </li>
          <li>
            <a routerLink="/vinyl" routerLinkActive="active">Vinyl</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">
          <i class="fa fa-envelope fa-fw"></i> Contact</a>
      </li>
      <li>
        <a routerLink="/log" routerLinkActive="active">
          <i class="fa fa-warning fa-fw"></i> Log</a>
      </li>
      <li>
        <a routerLink="/user" routerLinkActive="active">
          <i class="fa fa-users fa-fw"></i> User</a>
      </li>
    </ul>
  </div>
</div>