<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Book
        <button type="button" class="btn btn-success btn-circle" routerLink="/book/new">
          <i class="fa fa-plus"></i>
        </button>
      </h2>
      <app-spinner [visible]="booksLoading"></app-spinner>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default" *ngIf="books">
      <div class="panel-body">
        <form>
        </form>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Publisher</th>
                <th>Read</th>
                <th width="15%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  <input class="form-control" [(ngModel)]="userFilter.bookName" type="text" placeholder="Search for book name">
                </td>
              </tr>
              <tr *ngFor="let book of books | filterBy: userFilter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                <td>{{i+1}}</td>
                <td>{{book.bookName}}</td>
                <td>{{book.authorName}}</td>
                <td>{{book.publisherName}}</td>
                <td>{{book.isRead ? "Yes" : "No"}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#myModal" (click)="select(book)">
                    <i class="fa fa-search"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-circle" [routerLink]="['/book', book.bookId]">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-circle">
                    <i (click)="deleteBook(book)" class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td *ngIf="books?.length === 0">No Data!</td>
              </tr>
            </tbody>
          </table>
          <div class="has-text-centered">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="book">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{book.bookName}}</h4>
        </div>
        <div class="modal-body">
          <p>
            <b>Read: </b>{{ book.isRead ? "Yes" : "No" }} /
            <b>Release Date: </b> {{book.bookReleaseDate | date}}</p>
          <hr/>
          <!-- <img style="display: block; margin-left: auto; margin-right: auto; width: 150px;" src="https://uur-api-dev.azurewebsites.net/{{book.bookCoverPath}}"> -->
          <p>
            <b>Author: </b>{{book.authorName}}</p>
          <p>
            <b>Publisher: </b>{{book.publisherName}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>