<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Vinyl
          <button type="button" class="btn btn-success btn-circle" routerLink="/vinyl/new">
            <i class="fa fa-plus"></i>
          </button>
        </h2>
        <app-spinner [visible]="vinylsLoading"></app-spinner>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default" *ngIf="vinyls">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Vinyl Name</th>
                  <th>Active</th>
                  <th width="15%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                        <td colspan="3"><input [(ngModel)]="searchText" placeholder="search text goes here"></td>
                    </tr> -->
                <tr *ngFor="let vinyl of vinyls | filter : searchText">
                  <td>{{vinyl.firstName}} {{vinyl.lastName}}</td>
                  <td>{{vinyl.vinylName}}</td>
                  <td>{{vinyl.isDeleted ? "No" : "Yes"}}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#myModal" (click)="select(vinyl)">
                      <i class="fa fa-search"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-circle" [routerLink]="['/vinyl', vinyl.vinylId]">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-circle">
                      <i (click)="deleteVinyl(vinyl)" class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td *ngIf="vinyls?.length === 0">No Data!</td>
                </tr>
              </tbody>
              <!-- <app-pagination [items]="vinyls" (page-changed)="onPageChanged($event)"></app-pagination> -->
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="vinyl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{vinyl.firstName}} {{vinyl.lastName}}</h4>
          </div>
          <div class="modal-body">
            <p>
              <b>Active: </b>{{ vinyl.isDeleted ? "No" : "Yes" }} /
              <b>Date: </b> {{vinyl.creDate | date}}</p>
            <hr/>
            <p>{{vinyl.vinylBody}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>